body {
  height: 100vh;
  background: #053B50;
  background-image: linear-gradient(to bottom right,#053B50,85%, #32C6DA );
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
